.error {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 10px;
    font-weight: bold;
}

input {
    margin: 5px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

#output {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: mediumblue;
    margin-top: 10px;
}